body {
    font-family: $font-family;
    color: $black-txt;
    font-size: 14px;
    background: rgb(227,227,227);
    background: linear-gradient(180deg, rgba(227,227,227,1) 0%, rgba(234,238,238,1) 75%, rgba(79,224,243,1) 100%);
}

.wrapper {
    max-width: 1190px;
    margin: 0 auto;
    @media screen and (max-width: 1140px) {
        width: 95%;
    }
}

img {
    max-width: 100%;
}


// concernant le txt

h1, h2, h3, h4 {
    letter-spacing: 1px;
    font-weight: 700;
    font-family: 'Syne', sans-serif;
    text-shadow : 0 0 3px rgba(0, 0, 0, 0.8);
    color: #000;
}


h1 {
    font-size: 4.5em;
    display: flex;
    flex-direction: column;
    margin: 1rem 0 .5rem;
}

h2 {
    font-size: 2.5em;
    text-transform: capitalize;
}
h3 {
    font-size: 1.5em;
    text-shadow : 0 0 2px rgba(0, 0, 0, 0.8);
    white-space: nowrap;
    margin-top: 0;
    span {
        font-weight: 300;
    }
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1em;
}

a {
    text-decoration: none;
    color: $black-txt;
    &:hover {
        color: $blue;
        transition: all $transition;
    }
}

a:hover {
    color: $blue;
    transition: all $transition;
}

p {
    font-weight: 300;
    line-height: 1.5em;
    color: #000;
}

// concernant les forms/inputs
button {
    border: 0;
}
input, textarea {
    background-color: rgba($color: white, $alpha: 0);
    box-shadow: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    font-weight: 300;
    padding: .7em;
}


// les étoiles
.fa-star {
    color: aquamarine;
    text-shadow : 0 0 2px #4FE0F3;
}

.star-grey {
    color: $foot-txt;
    text-shadow : 0 0 2px $foot-txt ;
}

// Responsive 
@media screen and (max-width: 768px) {
    // body {
        //     font-size: 18px;
        // }
    }
