body {
    font-family: $font-family;
    color: $black-txt;
    font-size: 14px;
    background: rgb(227,227,227);
    background: linear-gradient(180deg, rgba(227,227,227,1) 0%, rgba(234,238,238,1) 75%, rgba(79,224,243,1) 100%);

}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    .section-title {
        text-align: center;
        padding: 20px 0 3rem;
    }
}


img {
    max-width: 100%;
}


// concernant le txt

h1, h2, h3, h4 {
    letter-spacing: 1px;
    font-weight: 700;
    font-family: 'Syne', sans-serif;
    text-shadow : 0 0 3px rgba(0, 0, 0, 0.8);
    color: #000;

}


h1 {
    font-size: 4.5em;

    flex-direction: column;
    margin: 1rem 0 .5rem;
}

h2 {
    font-size: 2.5em;
    text-transform: capitalize;
    padding-bottom: 1rem;
}
h3 {
    font-size: 1.5em;
    text-shadow : 0 0 2px rgba(0, 0, 0, 0.8);
    white-space: nowrap;
    margin-top: 0;
    span {
        font-weight: 300;
    }
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1em;
}

a {
    text-decoration: none;
    color: $black-txt;
    &:hover {
        color: $blue;
        transition: all $transition;
    }
}

a:hover {
    color: $blue;
    transition: all $transition;
}

p {
    font-weight: 300;
    line-height: 1.5em;
    color: #000;


}

// concernant les forms/inputs
button {
    border: 0;
}
input, textarea {
    background-color: rgba($color: white, $alpha: 0);
    box-shadow: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    font-weight: 300;
    padding: .7em;
}


// les étoiles
.fa-star {
    color: aquamarine;
    text-shadow : 0 0 2px #4FE0F3;
}

.star-grey {
    color: $foot-txt;
    text-shadow : 0 0 2px $foot-txt ;
}

//404//
.error .main{
    display: flex;
    flex-direction: column;
    .mini-404{
        display: flex;
        justify-content: center;
    }
    .inner-rael{
        margin: 0 2rem;
        display: flex;
        width: 260px;
        height: 300px;
        border-radius: 50%;
        -webkit-animation: mover 3.5s ease-in-out infinite alternate;
        animation: mover 3.5s ease-in-out infinite alternate;
        overflow: hidden;
        position: relative;
        background-color: white;
        box-shadow: 0 0 3px rgb(0 0 0 / 60%);
        
    }
    .inner-rael:after {
        content: "";
        position: absolute;
        height: 300px;
        width: 260px;
        border-radius: 50%;
        -webkit-box-shadow: inset 0px 0px 14px 12px white; 
        box-shadow: inset 0px 0px 14px 12px white;
        top: 0;
        left: 0;
        z-index: 1; /* You can use higher to ensure that it stays on top */
    }
    img {
        display: block;
        max-width: fit-content;
        position: relative;
        z-index: -2;
        transform:scale(1.2) translate(1.8rem);
        
    }
}
.mini-404 h1{
  margin: 0;
  color: white;
  font-size: 22rem;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.error .main h3{
    color: white;
}

.error .header .breadcrumb{
    display: none;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}
.error .txt404{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 650px;
    h3{
        white-space: normal;
    }
    .btn{
        width: 200px;
        text-align: center;
    }
    
}



// Responsive 
@media screen and (max-width: 768px) {
    .wrapper {
        width: 75%;
        h2 {
            font-size: 1.5rem;
        }
    }
    .section-title {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .error .main{
        h1{
            display: none;
        }
        .txt404{
            padding-top: 4rem;
        }
    }
    .error .header .breadcrumb{
            display: flex;
        }
    }
    

    @media screen and (max-width: 1140px) {
    .wrapper {
            width: 90%;
        }

    } 