.header {
    -webkit-mask-image: -webkit-gradient(linear, left 60%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    background: $holographic;
    height: 100vh;
    color: #000;
    position: relative;
    
    .wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    a, p {
        color: #000;
        
    }
    span {
        font-size: 4rem;
        // text-transform: uppercase;
        font-weight: 300;
        color: white;
        text-shadow: 0 0 5px rgba(255,255,255,.8);
    }
    
    // Le titre
    .head-txt {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        z-index: 4;
        flex-grow: 1;
        margin-top: -50px;
        @media screen and (max-width: 768px) {
            width: 100%;
            h1 {
                font-size: 3em;
            }
        }
    }
    .btn3 {
        margin-top: 1rem;
    }
}

a:hover {
    color: $blue;
    transition: all $transition;
}

.home .header {
    background: none;
    -webkit-mask-image: -webkit-gradient(linear, left 60%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,1)));

    .head-txt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        align-items: center;
        
    }
    h1 {
        font-size: calc(10em + 10%);
        color: $white;
        text-shadow: 0 0 8px rgba(255,255,255,.8);
    }
    @media screen and (max-width: 768px) {
        h1 {
            font-size: 3em;
            text-shadow: 0 0 4px rgba(255,255,255,.8);
        }
        span {
            font-size: 2em;
        }
       
    }
    
}
.home {
    .head-nav {
        display: none;
    }
    a {
        color: $white;
    }
}

// Pour les autres pages

.contact, .team, .news, .journeys, .about, .error {
    background-color: #e3e3e3;
    .header {
        height: 35vh;
        @media screen and (max-width: 768px) {
            height: 50vh;
        }
    }
    .head-txt {
        width: 100%;
        align-items: center;
        text-align: center;
        h1 {
            text-transform: capitalize;
        }
    }
    .breadcrumb {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 300;
    }
}



@-webkit-keyframes AnimatedGradient {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@-moz-keyframes AnimatedGradient {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@keyframes AnimatedGradient {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}