.header {
    background: rgb(49,193,151);
    background: linear-gradient(0deg, rgba(49,193,151,1) 28%, rgba(215,113,192,1) 92%);
    height: 100vh;
    color: $white;
    position: relative;
    &::before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: .4;
        position: absolute;
        z-index: 0;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    a, p {
        color: white;
        
    }
    span {
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 300;
    }
    // Le titre
    .head-txt {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        z-index: 4;
        flex-grow: 1;
        margin-top: -50px;
        @media screen and (max-width: 768px) {
            width: 100%;
            h1 {
                font-size: 3em;
            }
        }
    }
    .btn {
        margin-top: 1rem;
    }
}

a:hover {
    color: $yellow;
    transition: all $transition;
}

// Pour les autres pages

.contact, .blog, .journeys {
    background-color: rgb(250, 250, 255);
    .header {
        height: 35vh;
        @media screen and (max-width: 768px) {
            height: 50vh;
        }
    }
    .head-txt {
        width: 100%;
        align-items: center;
        text-align: center;
        h1 {
            text-transform: capitalize;
        }
    }
    .breadcrumb {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 300;
    }
}