* {
  cursor: none;
  margin:0;
  padding:0;
}

.head-nav {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    z-index: 5;
    position: relative;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #00000017, -1px -1px 2px #ffffff63, 1px 1px 2px #5555556b;
    backdrop-filter: blur(5px);
    @media screen and (max-width: 768px) {
    display: none;}
    
    .top-nav, .main-nav {
        display: flex;
        align-items: center;
    }
    .top-nav {
        justify-content: space-between;
        padding: 10px 5px;
        a {
            font-weight: 300;
        }
    }
    .left-nav a {
        margin-right: 20px;
    }
    .right-nav a {
        margin-left: 10px;
    }
    .main-nav {
        padding: 15px;
        a {
            text-transform: uppercase;
            margin-left: 20px;
            
        }
        a:nth-of-type(1) {
            margin-right: auto;
            margin-left: 0;
        }
    }
}

.elBurgerito {
    position: absolute;
    display: none;
    width: 30px;
    height: 40px;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    right: 5%;
    cursor: pointer;
    .burger-line {
        background: $white;
        width: 30px;
        height: 2px;
        margin: 3px 0;
        border-radius: 2px;
        transition: all $transition;
    }
    .burger-line:nth-of-type(2) {
        opacity: 1;
        transition: opacity .2s ease-out;
        
    }
}

// menu popup mobile
.burger-popup{
    height: 100vh;
    width: 70vw;
    position: fixed;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);

    left: -100%;
    transition:all 0.5s ease-in-out;
    z-index: 222;
    .burger-nav {
        display: flex;
        flex-direction: column;
        padding: 4em 2em;
        gap: 2em;
    }
    a {
        color: pink;
        text-transform: uppercase;
        font-size: 1.2em;
    }
}

.active {
    left: 0;
    transition:all $transition;

    .burger-line {
        position: fixed;
        width: 30px;
        right: 5%;
    }
    .burger-line:nth-of-type(1) {
        transform: rotate(45deg);
    }
    .burger-line:nth-of-type(3) {
        transform: rotate(-45deg);
    }
    .burger-line:nth-of-type(2) {
        opacity: 0;
        z-index: -50;
    }
}

// Overlay 
.overloff {
    position: fixed;
    transition:all $transition;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    z-index: -1;
}

.overlon {
    background: #000000;
    opacity: .5;
    top: 0;
    left: 0;
    z-index: 5;
    transition: all $transition;
}


// Responsive 
@media screen and (max-width: 768px) {
    .elBurgerito {
        display: flex;
        z-index: 88888;
    }
    .nav-links {
        display: none;
    }
    // Sticky
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        left: 0;
        background-color: #000000;
        transition: all $transition;
        padding: 1% 2%;
        .main-nav {
            background-color: rgba($color: $white, $alpha: 0);
            transition: all $transition;
            
        }
    }
}


//Cursor test1//
.cursor {
    position: absolute;
    pointer-events: none;
    z-index: 1999;
    top: var(--y);
    left: var(--x);
    right: 0;
    bottom: 0; 
    width: 3em;
    height: 3em;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(.7);
    transition: transform .2s ease-in-out;
    background:rgb(101, 0, 119);
    mix-blend-mode: difference;

}

.cursor.enlarged {
  transform: translate(-50%,-50%) scale(1.3);

}

