$white : #ffffff;
// couleur de texte et sur les boutons
$black-txt : #222222;
// jaune
$yellow : #f8b600;
// couleur grisée de fond derrière certaines sections
$greyback : #f9f9ff;
// couleur de fond du footer
$footerback: #04091e;
// color txt footer
$foot-txt: rgb(102, 101, 101);
// font family
$font-family : 'Poppins', sans-serif;
// transition 
$transition: .3s ease-in-out;
// Light Border 
$light-border: #eeeeee;