// couleur de texte et sur les boutons
$white : #ffffff;
// Text général
$black-txt : #222222;
// bleu aqua 
$blue : #4FE0F3;
// couleur grisée de fond derrière certaines sections
$grey : #e3e3e3;
// font family
$font-family : 'Poppins', sans-serif;
// transition 
$transition: .3s ease-in-out;