.about {
    text-align: justify;
    
    // Contenu
    .sect-txt {
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        gap: 5%;
        .section-title {
            width: 70%;
        }
        h2 {
            margin-bottom: 1em;
            text-align: left;
        }
        p {
        text-align: left;
        }

    }
    .sect-about {
        margin-top: 5em;
    }
    .img-container-about{
        text-align: center;
    }
    

}

// swiper

.about-swiper {
    width: 50%;

    .swiper {
        padding: 3em 4em 4em;
        text-align: center;

    }
    .swiper-slide {
        display: flex;
        flex-direction: column;
        align-items: center;

        height: 100%;
    }
    .swiper-txt {
        width: 70%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .img-container {
        border-radius: 50%;
        overflow: hidden;
        width: 130px;
        height: 130px;
        margin-bottom: 1.5em;
        box-shadow: 0 0 8px rgb(0 0 0 / 30%);
        
    }
    p:nth-of-type(2) {
        font-weight: 700;
        margin-top: 1em;
        text-shadow : 0 0 2px rgba(0, 0, 0, 0.6);
        
    }
    .swiper-button-prev {
        left: 30px;
    }
    .swiper-button-next {
        right: 30px;
    }
    
}

.bloc-members {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    .team-member {
        display: flex;
        flex-direction: column;
    transition: all .3s ease-in-out;
        
        &:hover {
            transform: scale(1.1);
        }
    }
    
    .team-img {
        max-width: 230px;
        height: 330px;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        border-top-right-radius: 6px;
        border-bottom-left-radius: 6px;
        border-top-left-radius: 50% 30%;
        border-bottom-right-radius: 50% 30%;
        box-shadow: rgb(38, 57, 77) 0px 0px 30px -10px;
        transition: all ease-in-out .3s;
        overflow: hidden;
        
        img {
            transform: scale(2.2);
        }
    }
}


// RESPONSIVE
@media screen and (max-width:1140px) {
    .sect-txt {
        width: 60%;
    }
}

@media screen and (max-width:990px) {

    .bloc-members {
        flex-direction: column;
        
        .team-img {
            max-height: 230px;
        }
        
        .team-img {
            img {
                transform: scale(1.5);
            }
        }
    }
    .about-swiper {
        width: 90%;
        .swiper {
            padding: 2em 0;
        }
        .swiper-button-prev, .swiper-button-next {
            display: none;
        }
        
    }
    .swiper-txt {
        margin-bottom: 1.1em;
    }
}

@media screen and (max-width: 768px) {
    .about {
        .sect-txt {
            width: 100%;
            display: flex;
            flex-direction: column;
            
            .img-container-about {
                width: 60%;
                margin: 0 auto;
            }
        }
    }
}
