.contact {
    .wrapper {
        // La carte
        iframe {
            margin: 8em 0;
        }
        // Contact
        .contact-form {
            max-width: 100%;
            align-items: self-start;
            padding: 3rem;
            flex-grow: 1;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(5, 1fr);
            grid-template-areas: 
            "name email"
            "subject ."
            "mess mess"
            "mess mess"
            "btn ."
            ;
            grid-column-gap: 2em;
            margin: 4em auto;
            .form-col:nth-of-type(4){
                grid-area: mess;
                resize: none;
            }
            .form-col:nth-of-type(1){
                grid-area: name;
            }
            .form-col:nth-of-type(2){
                grid-area: email;
            }
            .form-col:nth-of-type(3){
                grid-area: subject;
            }
            .form-col:nth-of-type(5){
                margin-top: 2em;
                grid-area: btn;
                width: max-content;
                max-height: 3rem;
            }

            .form-control{
                width: 100%;
                box-shadow: 1px 1px 2px #5555552a, -1px -1px 4px #ffffff8c, 5px 5px 10px #49494917;
                backdrop-filter: blur(5px);
                border-radius: 20px 0;
                cursor: cell;
                border-color: transparent;
            }
            .form-control::placeholder{
                color: #78caafbe;
                text-shadow: 1px 0px 1px rgba(255,255,255,0.95);
                opacity: .7;
            }
            .form-control:focus{
                outline: none !important;
            }
            
        }
    }
    .contact-info {
        max-width: 400px;
        margin: 0 auto;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-content: center;
        text-align: justify;
        gap: 2em;
    }
    .info-bloc {
        display: flex;
        align-items: center;
        h4 {
            margin-top: 0;
            margin-bottom: .5em;
        }
        p {
            margin-bottom: 0;
        }
        i {
            color: #7fffd4;
            text-shadow: 1px 0px 1px rgba(255,255,255,0.95);
            font-size: 2.5em;
            margin-right: 30px;
        }
    }
    .textarea, .input {
        border: 1px solid $light-border;
    }
}

// Responsive 
@media screen and (max-width: 990px) {
    .contact-info {
        h4 {
            font-size: smaller;
        }
    }
    .contact-info-form {
        flex-direction: column;
    }
    .contact .wrapper .contact-form {
        display: flex;
        flex-direction: column;
        gap: 2em;
        align-items: stretch;
    }
    .contact .btn {
        align-self: flex-end;
    }
}

