.contact {
    .header {
        background: rgb(49,193,151);
background: linear-gradient(0deg, rgba(49,193,151,1) 28%, rgba(215,113,192,1) 92%);
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        iframe {
            margin: 8em 0;
        }
        
        .contact-form {
            flex-grow: 1;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);
            grid-template-areas: 
            "name mess"
            "email mess"
            "sub mess"
            ". btn"
            ;
            gap: 2em;
            margin: 4rem;
            textarea {
                grid-area: mess;
            }
            .btn {
                grid-area: btn;
                width: max-content;
                justify-self: end;
            }
        }
    }
    .contact-info {
        width: 30%;
        margin: 0 auto;
        justify-content: center;
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
    .info-bloc {
        display: flex;
        align-items: center;
        h4 {
            margin-top: 0;
            margin-bottom: .5em;
        }
        p {
            margin-bottom: 0;
        }
        i {
            color: $yellow;
            font-size: 2.5em;
            margin-right: 30px;
        }
    }
    textarea, input {
        border: 1px solid $light-border;
    }
}

// Responsive 
@media screen and (max-width: 1140px) {
    .contact-info-form {
        flex-direction: column;
    }
    .contact .wrapper .contact-form {
        display: flex;
        flex-direction: column;
    }
    .contact .btn {
        align-self: flex-end;
    }
}
