.home {
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow: hidden;
    min-height: 100vh;
    background-color: black;
}

canvas {
    position: absolute;
    display: block;
    filter: blur(6px) drop-shadow(0 0 30px rgba(51, 180, 172, 1));
    transform-origin: 0 100%;
    transform: skewX(-20deg);
    animation: fadein 6s 1;
}

@keyframes fadein {
    0% {
        opacity: 0
    }
}