.sect {
    padding: 4em 0;
    display: grid;
    gap: 2em;
    
}

// Pour les sections 1, 2 et 6 parce que y'a des similarités quand même
.sect-3blocs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 200px);
    gap: 2em;
    .title-sect {
        grid-column: span 3;
    }
}

.title-sect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        margin: 0;
    }
    h2 {
        margin-bottom: .5em;
    }
    padding: 4em 0;
    @media screen and (max-width: 1140px) {
        text-align: center;
    }
}

// 1st Section
.sect-popular {
    
    // les images
    .img-bloc {
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    // overlay
    .img-bloc::before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: $black-txt;
        opacity: 0;
        position: absolute;
        z-index: 1;
        transition: opacity $transition;
    }
    .img-bloc:hover::before {
        opacity: .5;
    }
    .img-bloc:nth-of-type(1) {
        background-image: url(../img/d1.jpg);
    }
    .img-bloc:nth-of-type(2) {
        background-image: url(../img/d2.jpg);
    }
    .img-bloc:nth-of-type(3) {
        background-image: url(../img/d3.jpg);
    }
    a {
        color: $black-txt;
        opacity: 0;
        z-index: 2;
    }
    .img-bloc:hover a {
        opacity: 1;
        background-color: $blue;
        color: $black-txt;
        
    }
    h3 {
        color: $white;
        text-align: center;
        z-index: 2;
        margin-bottom: 0;
    }
}

// 2nd Section
.sect-prices {
    background-image: url(../img/price-bg.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.article-packages {
    background-color: $white;
    height: fit-content;
    padding: 2em;
    h3 {
        margin-top: 0;
        text-align: center;
        border-bottom: 1px solid $blue;
        padding-bottom: .8em;
        margin-bottom: 1.2em;
    }
    p {
        margin: 0;
    }
}
.package-prices {
    display: flex;
    align-items: center;
    margin-bottom: .8em;
    a {
        margin-left: auto;
    }
}

// 3rd section
.sect-issues {
    grid-template-columns: repeat(4, 1fr);
    .title-sect {
        grid-column: span 4;
        
    }
    .img-container {
        overflow: hidden;
        img {
            transition: transform $transition;
        }
    }
    .img-bloc:hover img {
        transform: scale(1.2) rotate(-5deg);
    }
}

// 4th Section 
.sect-testify {
    background-color: #f9f9ff;
    .wrapper {
        display: grid;
        gap: 2em;
        grid-template-columns: repeat(2, 1fr);
    }
    .title-sect {
        grid-column: span 2;
    }
    .testify-bloc {
        background-color: $white;
        padding: 2em;
        padding-left: 6em;
        position: relative;
        &::after {
            content: '';
            width: 50px;
            height: 50px;
            background-size: cover;
            background-position: center;
            position: absolute;
            border-radius: 50%;
            top: 35px;
            left: 19px;
        }
        p {
            margin-top: 0;
        }
    }
    .testify-bloc:nth-of-type(1)::after {
        background-image: url(../img/c4.jpg);
    }
    .testify-bloc:nth-of-type(2)::after {
        background-image: url(../img/c2.jpg);
    }
    
}




// 5th Section
.sect-request {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    .title-sect {
        padding-right: 100px;
        justify-self: flex-end;
        align-items: flex-start;
        max-width: 60%;
        p {
            padding-bottom: 2em;
        }
    }
    img {
        max-width: 50vw;
        width: 50vw;
    }
}

// 6th section 
.sect-blog-latest {
    height: fit-content;
    grid-template-rows: 1fr 2fr;
    .img-container {
        margin-bottom: 20px;
        overflow: hidden;
        &:hover img {
            transform: scale(1.1);
        }
        img {
            transition: transform $transition;
        }
    }
    .btn, .btn2 {
        font-size: .8em;
        padding: 5px 10px;
    }
}

// Responsive 
@media screen and (max-width: 768px) {
    // General
    .sect-3blocs {
        display: flex;
        flex-direction: column;
    }
    img {
        width: 100%;
    }
    // Section 1
    .sect-popular .img-bloc{
        height: 400px;
    }
    // Section 2
    .sect-prices {
        height: auto;
    }
    // Section 3
    .sect-issues {
        display: flex;
        flex-direction: column;
    }
    
    // Section 4
    .sect-testify {
        .wrapper {
            display: flex;
            flex-direction: column;
        }
        .testify-bloc:nth-of-type(2) {
            display: none;
        }
    }
    // Section 5
    .sect-request {
        display: flex;
        flex-direction: column;
        align-items: center;
        .title-sect {
            width: 90%;
            max-width: 90%;
            align-items: center;
            gap: 2em;
            padding: 0;
            p {
                padding-bottom: 0;
            }
        }
        img {
            width: 100%;
            max-width: 100%;
        }
        
    }
}


///////////// Test
.home{
@keyframes starfieldRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.starfield {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position:relative
}

.starfield > * {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  background-size: 200px 200px;
  background-image: radial-gradient(
      3px 3px at 40px 60px,
      rgb(255, 255, 255),
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(2px 2px at 20px 50px, #ddd, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 30px 100px, #eee, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 40px 60px, #fff, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 110px 90px, #ccc, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 190px 150px, #ddd, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 90px 123px, #ddd, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 25px 200px, #ddd, rgba(0, 0, 0, 0));
  background-repeat: repeat;
  transform-origin: 50% 50%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: starfieldRotate
}

.starfield > *:nth-child(1) {
  animation-duration: 10s;
}

.starfield > *:nth-child(2) {
  animation-duration: 12s;
}

.starfield > *:nth-child(3) {
  animation-duration: 15s;
}

.starfield > *:nth-child(4) {
  animation-duration: 21s;
}

.starfield > *:nth-child(5) {
  animation-duration: 24s;
}

.starfield > *:nth-child(6) {
  animation-duration: 29s;
}

.starfield > *:nth-child(7) {
  animation-duration: 32s;
}

.starfield > *:nth-child(8) {
  animation-duration: 36s;
}


}