
.title-sect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        margin: 0;
    }
    h2 {
        margin-bottom: .5em;
    }
    padding: 4em 0;
    @media screen and (max-width: 1140px) {
        text-align: justify;
    }
}

.home {
    canvas {
        position: absolute;
        top: 0;
        z-index: -1;
    }
    body {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
    
    
    h2 {
        font-family: 'Syne', sans-serif;
        text-shadow: 0 0 5px rgb(0 0 0 / 80%);
        font-size: 2em;
        border-radius: 45px;
        padding: 0.5em 1em;
        box-shadow: 5px 5px 10px #49494917,-1px -1px 4px #ffffff8c,1px 1px 2px #5555552a;
    }
    
    .planet-nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100vh;
        background: $holographic;
        z-index: -666;
        align-items: center;
        justify-content: center;
        transition: all .8s ease-in-out;
        opacity: 0;
    }
    .planet-nav-title {
        transform: translateY(-100vh);
    }
    
    .active-h2 {
        transform: translateY(0);
        transition: all 1.3s ease-in-out;
    }
    
    .active {
        opacity: 1;
        z-index: 999;
        
    }
    
    .home-nav {
        display: flex;
        gap: 2em;
        opacity: 0;
    }
    
    .active-home-nav {
        transform: translateY(0);
        transition: all 1.3s ease-in-out;
        transition-delay: 1s;
        opacity: 1;
    }
    
    .home-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        font-family: 'Syne', sans-serif;
        text-decoration: none;
    }
    
    .home-link p {
        color: rgba(53, 53, 53, 0);
        transition: all .6s ease-in-out;
        font-weight: 700;
        font-size: 1.1em;
    }
    
    .home-link:hover p{
        color: rgb(53, 53, 53);
        
        text-shadow: 0 0 3px rgb(102, 102, 102);
        
    }
    
    
    .home-link1 {
        animation: floating2 3.8s infinite alternate;
        top: -80px;
        left: -400px;
        
        
    }
    
    .home-link2 {
        animation: 5.3s infinite alternate floating;
        bottom: -350px;
        left: -250px;
    }
    
    .home-link3 {
        animation: 7.8s infinite alternate floating;
        top: -350px;
        left: -55px;
    }
    
    .home-link4 {
        animation: 6.8s infinite alternate floating;
        top: -80px;
        right: -400px;
    }
    
    .home-link5 {
        animation: 4.8s infinite alternate floating;
        bottom: -350px;
        right: -250px;
    }
    
    
    .planet-link {
        height: 100px;
        width: 100px;
        background-color: rgb(226, 224, 224);
        box-shadow: inset 0 0 0 aquamarine, inset 10px 1px 13px rgba(0, 0, 0, .5), 0 0 5px rgba(0, 0, 0, .4);
        border-radius: 50%;
        transition: all .5s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    
    .home-link:hover .planet-link {
        /* background-color: white; */
        /* box-shadow: 0 0 10px white; */
        box-shadow: inset 10px 1px 13px aquamarine, inset 150px 1px 13px white, 0 0 15px white;
        
    }
    @media screen and (max-width: 768px) {
        .active-h2 {
            font-size: 1em;
            box-shadow: none;
            display: none;
        }
        .planet-nav {
            // justify-content: flex-start;
            padding: 2em;
            height: 100vh;
        }
        .home-nav {
            flex-direction: column;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        .home-link {
            position: relative;
            top: auto;
            left: auto;
            right: auto;
            bottom: auto;
            animation: none;
            // transform: scale(.8);
        }
        .home-link p {
            color: rgba(53,53,53,1);
            font-size: 1em;
        }
        .planet-link {
            animation: 2s pulsate infinite ;
            animation-timing-function: linear;
        }
    }
    
    
}

@keyframes floating {
    0% {transform: translatey(0px);}
    50% {transform: translatey(-10px);}
    100% {transform: translatey(0px);}
}

@keyframes floating2 {
    0% {transform: translatey(0px);}
    50% {transform: translatey(-10px);}
    100% {transform: translatey(0px);}
}

@keyframes pulsate {
    0% {box-shadow: inset 10px 1px 13px rgb(0 0 0 / 50%), 5px 0 5px rgb(254 253 255 / 40%);}
    25% {box-shadow: inset 10px 1px 13px rgb(0 0 0 / 50%), 0 -5px 5px rgb(254 253 255 / 40%);}
    50% {box-shadow: inset 10px 1px 13px rgb(0 0 0 / 50%), -5px 0 5px rgb(254 253 255 / 40%);}
    75% {box-shadow: inset 10px 1px 13px rgb(0 0 0 / 50%), 0 5px 5px rgb(254 253 255 / 40%);}
    100% {box-shadow: inset 10px 1px 13px rgb(0 0 0 / 50%), 5px 0 5px rgb(254 253 255 / 40%);}
}