.hotel {
    .header {
        background-image: url(../img/hero-hotels.jpg);
    }
    // Grid pour layout des boites
    .hotels-blocs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2em;
        padding-bottom: 6em;
    }
    .article-packages {
        padding: 0;
        width: max-content;
        transition: box-shadow $transition;
        &:hover {
            box-shadow: 0 3px 30px rgba($color: #000000, $alpha: .25);
        }
        h3 {
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: .3em;
        }
        .map-review {
            padding-bottom: .8em;
            a {
                color: $foot-txt;
                font-weight: 300;
                &:hover {
                    color: $yellow;
                }
            }
            
        }
    }
    // Les boites de chaque hotel
    .package-top {
        display: flex;
        justify-content: space-between;
    }
    .package-prices {
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $light-border;
        margin-bottom: 0;
        padding: .8em 0;
    }
    .package-txt {
        padding: 2em;
    }
    .package-per-night {
        border-bottom: 0;
    }
    .sect-request {
        background-color: $white;
    }
    .btn{
        color: $black-txt;
        &:hover {
            color: $white;
        }
    }
    .btn3 {
        color: $white
    }
    
    
    
    // Responsive 
    @media screen and (max-width: 1170px) {
        .wrapper {
            width: 85%;
        }
        img {
            width: 100%;
        }
        .hotels-blocs {
            display: flex;
            flex-direction: column;
        }
        .article-packages {
            width: 100%;
        }
        .sect-request {
            display: flex;
            flex-direction: column;
            align-items: center;
            .title-sect {
                width: 90%;
                max-width: 90%;
                align-items: center;
                gap: 2em;
                padding: 0;
            }
            img {
                width: 100%;
                max-width: 100%;
            }
        }
    }
    @media screen and (max-width: 767px) {
        .wrapper {
            width: 95%;
        }
    }
}


