.section-title {
    text-align: center;
    padding-top: 4em;
    padding-bottom: 6em;
}

.section-journeys-blocs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap : 45px;
    padding-bottom: 8em;
    a:hover{
        color: $black-txt
        
    }
}



.article-journeys {
    transition: $transition;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h3{
        margin: 0;
        text-align: center;
    }
    img {
        padding: 2em 0;
    }
    .journey-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .btn {
        margin-top: 3em;
    }
    .stars {
        margin-bottom: 2em;
    }
}

.journey-details {
    display: flex;
    width: 100%;
    justify-content: space-between;
    p {
        font-family: 'Syne', sans-serif;
        font-weight: 700;
    }
    p:nth-of-type(2) {
        color: aquamarine;
    }
}

.info-lines {
    width: 100%;
    height: 1px;
    background-color: $black-txt;
    box-shadow : 0 0 3px rgba(0, 0, 0, 0.8);
}

// Single journey
.single-journey {
    .main {
    padding-bottom: 8em;

    }
    .section-title {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 2em;
        h3, h2 {
            margin-bottom: 0;
        }
    }
    .img-container-single {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .journey-description {
        padding: 4em 0;
        p:nth-of-type(1) {
            font-weight: 700;
        }
    }
    .single-journey-bloc {
        display: flex;
        flex-direction: column;
        
    }
    .single-journey-bloc:nth-of-type(1) {
        justify-content: space-between;
    }
    .single-journey-bloc:nth-of-type(2) {
        padding: 0;
        display: grid;
        grid-template-rows: 300px 200px;
        overflow: hidden;
        p {
            margin: 0;
        }
        .img-container {
            height: 300px;
            overflow: hidden;
            
        }
    }
    .journey-captain {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2em;
    }
}

.section-journey-single {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 45px;
}

.journey-swiper {
    margin-top: 8em;
    width: 100%;
    box-shadow: 0 0 15px rgb(0 0 0 / 30%);
    border-radius: 25px 0;
    overflow: hidden;
    img {
        display: block;
    }
}
