.section-journeys-blocs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap : 2rem;
    // padding-bottom: 8em;
    a:hover{
        color: $black-txt
    }
}

.journey-introduction-txt {
    margin: 2em 0;
    strong {
        line-height: 3em;
    }
}

.article-journeys {
    min-height: 750px;
    transition: $transition;
    display: flex;
    flex-direction: column;
    align-items: center;


    h3{
        margin: 0;
        text-align: center;
    }
    img {
        padding: 2em 0;
        max-width: 250px;
        height: 250px;
    }
    .journey-content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .journey-description {
            padding: 2em 0;
        }

    }
    .btn {
        margin-top: 3em;
    }
    .stars {
        margin-bottom: 2em;
    }
}

.journey-details {
    display: flex;
    width: 100%;
    height: 25px;
    justify-content: space-between;
    align-items: center;


    p {
        font-family: 'Syne', sans-serif;
        font-weight: 700;
    }
    p:nth-of-type(2) {
        color: $black-txt;
        text-shadow: 0 0 2px aquamarine;
    }
}

.info-lines {
    width: 100%;
    height: 1px;
    background-color: $black-txt;
    box-shadow : 0 0 3px rgba(0, 0, 0, 0.8);

}

// Single journey
.single-journey {
    .header{
        height: 15vh;
    }

    .section-title {
        display: flex;
        justify-content: space-between;
        align-items:center;
        gap: 2em;
        h3, h2 {
            margin-bottom: 0;
            padding: 0;
        }
    }
    .img-container-single {
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .journey-description {
        width: 90%;
        padding: 4em 0;
        margin: 0 auto;
        p:nth-of-type(1) {
            font-weight: 700;
            margin-bottom: 1em;
        }
    }
    .single-journey-bloc {
        display: flex;
        flex-direction: column;
        h4 {
            margin: 1em 0;
        }
    }
    .single-journey-bloc:nth-of-type(1) {
        justify-content: space-between;
    }
    .single-journey-bloc:nth-of-type(2) {
        padding: 0;
        display: grid;
        grid-template-rows: 300px 200px;
        overflow: hidden;
        p {
            margin: 0;
        }
        .img-container {
            height: 300px;
            overflow: hidden;
            
        }
    }
    .journey-captain {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2em;
        h4{
            padding: 1rem 0;
        }
    }
}

.section-journey-single {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 45px;
}

.journey-swiper {
    margin: 8rem auto 0;
    width: 100%;
    box-shadow: 0 0 15px rgb(0 0 0 / 30%);
    border-radius: 25px;
    overflow: hidden;
    aspect-ratio: 16 / 9;

    img {
        display: block;
    }
}

.planet-container {
    height: 60vh;
    padding-bottom: 2em;
    canvas:focus-visible {
        outline: none;
    }
}

// RESPONSIVE

@media screen and (max-width: 768px) {
    .journey-description {
       font-size: 0.8rem;
    }
    .journey-details {
        p {
            font-size: 0.7rem;
             }
        }
    }

@media screen and (max-width: 768px) {

    .section-journeys-blocs {
            display: flex;
            flex-direction: column;    
    }

    .section-journey-single {
            display: flex;
            flex-direction: column;
    }
    .planet-container {
        height: 40vh;
        }
    
    .article-journeys {
        min-height: 450px;

    }
    .single-journey .single-journey-bloc:nth-of-type(2) {
        padding: 0;
        display: grid;
        grid-template-rows: 250px 200px;
        overflow: hidden;
        p {
            margin: 0;
        }
        .img-container {
            height: 250px;
            overflow: hidden;
            
        }
    }
    .journey-swiper {
        margin-top: 45px;
    }
}