.news {
    .main {
        display: flex;
        gap: 3%;
        padding-top: 30px;
    }

}

// Main content
.news-content {
    width: 70%;
    padding: 0 3em;

    h2 {
        text-align: center;
    }

    .news-article {
        text-align: justify;
        border-bottom: 1px solid $black-txt;
        box-shadow: 0 5px 10px -13px rgb(0 0 0 / 80%), inset 0 -5px 10px -12px rgb(0 0 0 / 80%);
        padding: 3em;
    }

    .news-article:nth-of-type(3) {
        border-bottom: 0;
        box-shadow: none;
    }

    .img-container-news {
        max-width: 500px;
        height: 190px;
        margin: 50px auto;
        border-top-left-radius: 550px 550px;
        border-top-right-radius: 200% 100%;
        border-bottom-right-radius: 150% 200%;
        border-bottom-left-radius: 30% 50px;
        box-shadow: 0 0 15px rgba(0, 0, 0, .3), inset 0 0 6px rgba(0, 0, 0, .3);
        display: block;
        overflow: hidden;

        img {
            width: 100%;
        }
    }
}



// Side Bar
.news-right {
    width: 30%;
    padding: 0 3em 3em;
    height: fit-content;

    h3 {
        margin: 0;
    }

    .btn {
        text-align: center;
        text-transform: capitalize;
        margin: 3em 0 2em;
        background: aquamarine;

        &:hover {
            border-radius: 8px 0 8px 0;

        }
    }
    .foot-bloc{
        padding: 2em 0;
        h4{
            padding: 1em 0;
        }
    }
}


// sidebar
.news-categories {
    display: flex;
    flex-direction: column;
    gap: 10px;

    // latest news
    .popular-links {
        display: flex;
        gap: 1rem;
        padding-bottom: 1em;

        img {
            width: 70px;
            height: 50px;
        }

        .content {
            width: 70%;
            align-self: flex-start;
        }

        h4 {
            font-size: .8em;
            margin: 0;
        }

        p {
            font-size: .7em;
            margin: 5px 0 10px;
        }

    }

    // category
    .categories {
        border-bottom: 1px dotted $black-txt;

        p {
            transition: color $transition;
        }

        &:hover p {
            color: $blue;
        }
    }
    
}




// RESPONSIVE 

// Intermediate
@media screen and (max-width: 1140px) {

    .popular-links {

        h4 {
            font-size: .5rem;
        }
    }
}

// palié intermediaire
@media screen and (max-width: 900px) {

    // flex column all
    .main {
        display: flex;
        flex-direction: column;

        // left 
        .news-content {
            margin-bottom: 5%;
            width: 100%;
        }

        // Side Bar
        .news-right {
            width: 100%;
        }
    }
}

// mobile
@media screen and (max-width: 768px) {

    .news-content .news-article {
        padding: 3em 0;
    }

    .news-content .img-container-news {
        max-width: 300px;
        margin: 20px auto;
        border-radius: 50% 100%;

        img {
            width: auto;
            max-width: none;
            height: 100%;
        }
    }

}