.news {

    .main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding-top: 60px;

        @media screen and (max-width: 1170px) {
            display: flex;
            flex-direction: column;
        }
    }

}

// Main content
.news-content {
    padding: 0 3em;

    .news-article {
        text-align: center;
        border-bottom: 1px solid $black-txt;
        box-shadow: 0 5px 10px -13px rgb(0 0 0 / 80%), inset 0 -5px 10px -12px rgb(0 0 0 / 80%);
        padding: 3em;
    }

    .news-article:nth-of-type(3) {
        border-bottom: 0;
        box-shadow: none;
    }

    .img-container-news {
        max-width: 600px;
        height: 200px;
        margin: 50px auto;
        border-top-left-radius: 550px 550px;
        border-top-right-radius: 200% 100%;
        border-bottom-right-radius: 150% 200%;
        border-bottom-left-radius: 30% 50px;
        box-shadow: 0 0 15px rgba(0, 0, 0, .3), inset 0 0 6px rgba(0, 0, 0, .3);
        display: block;
        overflow: hidden;

        img {
            width: 100%;
            transform: translateY(-40px);

        }
    }
}



// Side Bar
.news-right {
    padding: 0 3em 3em;
    margin-left: 2em;
    height: fit-content;

    h3 {
        margin: 0;
    }


    .btn {
        text-align: center;
        text-transform: capitalize;
        margin: 3em 0 2em;
        background: rgb(49, 193, 151);
    }
}




// 1st Part
.news-categories {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 3em;


    .popular-links {
        display: flex;
        height: 50px;
        justify-content: flex-start;
        align-content: center;
        gap: 2rem;
img{
    width: 70px;

}
        .content {
            align-self: flex-start;
        }

        h4 {
            font-size: .9em;
            margin: 10px 0 0 0;
        }

        p {
            font-size: .8em;
            margin: 5px 0 10px;
        }
    }

    // 2nd Part
    .categories {
        border-bottom: 1px dotted $black-txt;

        p {
            transition: color $transition;
        }

        &:hover p {
            color: $blue;
        }
    }
}

// .news-categories:nth-of-type(2) {
//     border-top: 1px solid $black-txt;
// }

// Responsive
// Intermediate
@media screen and (max-width: 1170px) {
    .news-content img {
        width: 100%;
    }

    .news-content {
        margin-bottom: 45px;
    }

    .news-right {
        margin-left: 0;
    }
}

// Mobile
@media screen and (max-width: 768px) {

    // Tout flexer
    .article-content {
        display: flex;
        flex-direction: column;
    }

    .article-nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);

        .categories {
            grid-column: span 2;
        }

        .categories {
            justify-content: flex-start;
        }
    }

    .news-right img {
        width: auto;
    }
}