.single-team {
    .header {
      height: 30vh;
        background: rgb(49,193,151);
        background: linear-gradient(0deg, rgba(49,193,151,1) 28%, rgba(215,113,192,1) 92%);
    }

    .article-team{
      margin: 5% auto;
      width: 60%;
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      gap: 2em;
        transition: box-shadow $transition;
        h3 {
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: .3em;
        }
    }
    // Les boites de chaque hotel
    .team-top {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .team-extract {
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $light-border;
        margin-bottom: 0;
        padding: .8em 0;
    }
    .team-txt {
        padding: 2em;
        &:hover {
            box-shadow: 0 3px 30px rgba($color: #000000, $alpha: .25);
        }
    }
    .team-img{
      margin: 0 auto;
      width: 400px;
      height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;

      background: rgb(49,193,151);
      background: linear-gradient(0deg, rgba(49,193,151,1) 28%, rgba(215,113,192,1) 92%);
    }
    .team-proposal{
    margin: 5% auto;
    width: 60%;
      }
        .travel-link-team{
      margin: 5% auto;

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2em;
        transition: box-shadow $transition;
      }

    .travel-link{
      margin: 0 auto;
      justify-content: center;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background: rgb(49,193,151);
      background: linear-gradient(0deg, rgba(49,193,151,1) 28%, rgba(215,113,192,1) 92%);
    }
    

    
    
    
    // Responsive 
    @media screen and (max-width: 1170px) {
        .wrapper {
            width: 85%;
        }
        img {
            width: 100%;
        }
        .hotels-blocs {
            display: flex;
            flex-direction: column;
        }
        .article-packages {
            width: 100%;
        }
        .sect-request {
            display: flex;
            flex-direction: column;
            align-items: center;
            .title-sect {
                width: 90%;
                max-width: 90%;
                align-items: center;
                gap: 2em;
                padding: 0;
            }
            img {
                width: 100%;
                max-width: 100%;
            }
        }
    }
    @media screen and (max-width: 767px) {
        .wrapper {
            width: 95%;
        }
    }
}


