.news-single {
    .news-article {
        max-width: 60%;
        margin: 50px auto;
        text-align: center;

        .img-container-single-news {
            max-width: 600px;
            height: 200px;
            border-radius: 50%;
            margin: 50px auto;
            border-top-left-radius: 550px 550px;
            border-top-right-radius: 200% 100%;
            border-bottom-right-radius: 150% 200%;
            border-bottom-left-radius: 30% 50px;
            background: url(../../img/planete-cercle-bleu.jpg) center/cover;
        }

        p {
            text-align: justify;
        }

    }
    .author {
        margin: 0 auto; 
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2em 3em;
        border: none;
        text-align: center;
        h3 {
            margin: 2em 0 0;
        }
        
    .img-container-author {
        width: 100px;
        height: 100px;
        box-shadow: rgb(0, 0, 0) 0px 20px 37px -10px;        
        background: url(../../img/Infos-et-Actu5807affb05f73.jpg) center/cover;
        margin: 2em;
    }
    .txt-author{
        width: 50%;
        text-align: justify;
        h2{
            font-size: 14px;
        }
        h3{
            font-size: 13px;
            font-weight: 100;
        }
    p{
        font-size: 12px;
    }
    }
    }
}