.single-team {
    .header {
        height: 30vh;
    }
    
    .article-team{
        margin: 5% auto;
        width: 60%;
        display: grid;
        gap: 6em;
        transition: box-shadow $transition;
        h3 {
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: .3em;
        }
    }
    // Les boites de chaque hotel
    .team-top {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .team-extract {
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;
        padding-bottom: 2em;
    }
    .team-txt {
        padding: 2.5em;
        
    }
    .team-img{
        margin: 0 auto;
        width: 450px;
        height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: url(../img/alien1.webp) top;
        background-size: cover;
        background-repeat: no-repeat;
        
        box-shadow : 0 0 15px rgba(0, 0, 0, 0.3),inset 0 0 6px rgba(0, 0, 0, 0.3) ;
        
    }
    .team-proposal{
        margin: 5% auto;
        width: 60%;
    }
    .travel-link-team{
        margin: 5% auto;
        
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2em;
        transition: box-shadow $transition;
    }
    
    .travel-link{
        margin: 0 auto;
        justify-content: center;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: url(../../img/green-mars.png) center/cover;
    }
    
    
    
    
    
    // Responsive 
    @media screen and (max-width: 1170px) {
        .wrapper {
            width: 85%;
        }
        img {
            width: 100%;
        }
        .hotels-blocs {
            display: flex;
            flex-direction: column;
        }
        .article-packages {
            width: 100%;
        }
        .sect-request {
            display: flex;
            flex-direction: column;
            align-items: center;
            .title-sect {
                width: 90%;
                max-width: 90%;
                align-items: center;
                gap: 2em;
                padding: 0;
            }
            img {
                width: 100%;
                max-width: 100%;
            }
        }
    }
    @media screen and (max-width: 767px) {
        .wrapper {
            width: 95%;
        }
    }
}


